.header-section-wrapper {
    height:3718%;
    background-image: url(assets/Object.png); 
    background-size: 100% 100%; 
    background-position:50%; 
    background-repeat: no-repeat; 

     }


header {
   
  color: #fff; 
   padding-top: 20px;
}



header nav {
    display: flex; 
    justify-content: space-between;
    margin: 20px 150px;
    
    

}


header nav ul li {
    display: inline-block; 
    margin-right: 50px; 
    
}

header nav ul li:last-child {
    margin-right: 0; 
}

header nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-weight:bold;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

header nav ul li a:hover {
    color: #f0f0f0; 
}
/*-------------------------------------Nav---------------------------------------------------*/

/*-------------------------------------body---------------------------------------------------*/


.center {
   display: block;
   text-align: center;
   margin-top: 150px;
   color: #fff;
   font-family: 'Source Sans Pro', sans-serif;
}
.center h1 {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: auto;
    
}

.center span {
    display: inline-block; 
    margin-right: 40px; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}
.btn {
    background-color: #c470ff; 
    color: white; 
    margin-top: 20px;
    padding: 12px  12px; 
    border: none; 
    border-radius: 20px; 
    font-size: 14px;
    cursor: pointer; 
    transition: background-color 0.3s ease;  
    box-sizing: border-box;
               }



 .pros {
    
        display: block;
        text-align: center;
        margin-top: 200px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
    
        }

.purpule {
    color: #b972fc;
    font-size: 32px;
    font-weight: bold;

 }

 .pro-img {
    display: flex; 
    justify-content: center;
    align-items: center; 
   
    gap: 125px; 
    height: 50vh; 
}

.circle {
    border: none;
    border-radius: 50%;
}

.pro-img h3 {
    font-size: 18px;
    
}
.pro-img p {
    font-size: 16px;
    font-style: italic;
    font-weight:lighter ;
    padding:0;
    color: #eff9fc;
    
}
/*-------------------------------------Quote---------------------------------------------------*/


.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #c371ff;
    margin: 0;
    height: 392px;
}
.quote-txt {
   
    color: #fff;
}

.quote-txt blockquote {
    font-size: 22px;
    
    font-weight: lighter;

}
.quote-txt h3{
    font-size: 22px;
    font-weight: bold;
    
}

.quote-txt  p {
    font-size: 22px;
    font-weight: lighter;
    font-style:italic;
}